<footer class="border-t border-gray-200 bg-white py-6 sm:py-8 px-4 animate-fade-in">
    <div class="container mx-auto text-center">
      <div class="flex flex-col sm:flex-row items-center justify-between gap-4">
        <p class="text-sm sm:text-base text-gray-600 order-last sm:order-none">
          2025 OrganigramaTest  Sistema de Gestión de Organigrama Empresarial
        </p>
        <div class="flex gap-4">
             <a href="https://github.com/alexo123456780/organigrama_front" target="_blank" rel="noopener noreferrer" 
             class="text-gray-400 hover:text-indigo-600 transition-colors duration-300" 
             aria-label="GitHub">
            <i class="pi pi-github text-xl"></i>
          </a>

        </div>
      </div>
    </div>
</footer>